@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

textarea {
    resize: none;
    border-radius: 5px;
    border: 1px solid #000;

}

textarea:focus {
    outline: none;
}

.wrapper {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr;
}

.container-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.account-data-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
    row-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

#button:hover {
    background-color: #000;
    color: #fff;
}